<nav>
  <app-search [searchParams]="searchParams" (searchParamsChange)="onSearchParamsChange($event)">
    <app-search-results [length]="medias.length"></app-search-results>
  </app-search>
</nav>

<ng-container [ngSwitch]="isLoading">
  <section class="loading" *ngSwitchCase="true">
    <mat-spinner [diameter]="60"></mat-spinner>
  </section>

  <ng-container *ngSwitchDefault
                [ngSwitch]="medias.length > 0">
    <section class="results" *ngSwitchCase="true">
      <mat-card *ngFor="let media of medias">
        <app-media [media]="media"></app-media>
      </mat-card>
    </section>

    <section *ngSwitchDefault class="no-results">
      No results
    </section>
  </ng-container>
</ng-container>
