@import 'utils';

nav {
  padding: 16px;
}

.loading {
  display: flex;
  justify-content: center;
}

.results {
  padding: 16px;
  display: grid;
  grid-gap: 16px;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.no-results {
  text-align: center;
  font-size: 32px;
  color: $gray-500
}
