.artist-avatar {
  border-radius: 50%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.actions {
  display: flex;
  justify-content: center;
}

.cover {
  border-radius: 50%;
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-tracks {
  margin-bottom: 16px;
}

.tracks {
  width: 100%;
  margin-bottom: 16px;
}

.track {
  margin-bottom: 8px;
}

audio {
  max-width: 100%;
}

.spinner {
  margin-bottom: 16px;
}
