main {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  width: 100px;

  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
  }
}
