main {
  height: 100%;
  display: flex;
  flex-direction: column;

  footer {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }
}

.logo {
  width: 100%;

  img {
    max-height: 24px;
    max-width: 100%;
  }
}
